<div class="film-card">
  <img [src]="tmdbService.getPosterUrl(film.poster_path)" [alt]="film.title" class="film-poster">

  <div class="film-card-body">
    <h3 class="film-titre">{{ film.title }}</h3>
    <p class="film-annee">{{ film.release_date?.slice(0, 4) }}</p>
    <p class="film-note">{{ film.vote_average | number:'1.1-1' }} / 10</p>
    <button class="btn-detail" (click)="selectionner()" [disabled]="disabled">Voir détail</button>
    <button (click)="wishlistService.add(film)">
      + Wishlist
    </button>
  </div>
</div>
