<a [routerLink]="['/livre', livre().id]" class="livre-card-link">
  <div class="livre-card">
    <img [src]="livre().couverture" [alt]="livre().titre" class="livre-couverture">

    <div class="livre-card-body">
      <h3 class="livre-titre">{{ livre().titre }}</h3>
      <p class="livre-auteur">{{ livre().auteur }}</p>
      <span class="livre-genre">{{ livre().genre }}</span>
      <p class="livre-note">⭐ {{ livre().note }} / 5</p>
      @if (livre().lu) {
        <span class="livre-lu lu">Lu</span>
      } @else {
        <span class="livre-lu non-lu">Non lu</span>
      }
    </div>
  </div>
</a>
